


@mixin button($bcolor, $url, $x1, $y1, $bor, $col) {
  background: $bcolor;
  -webkit-mask: url($url);
  mask: url($url);
  -webkit-mask-size: $x1 $y1;
  mask-size: $x1 $y1;
  border: $bor;
  color: $col;
}

.button-container-1 {
  position: relative;
  width: 150px;
  height: 50px;
  overflow: hidden;
  font-family: 'roboto', sans-serif;
  font-size: .75rem;
  transition: 1s;
  border-radius: 6px;
  

  .button-link {
    text-decoration: none;
    color: inherit;
  }

  .nav-button {
    width: 100%;
    height: 100%;
    font-family: 'roboto', sans-serif;
    font-size: .80rem;
    padding: .5rem;
    border: none;
    background: #0f0f18;
    color: #f1f2f6;
    cursor: pointer;
    transition: 1s;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @include button(#0f0f18,
    "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png",
    2300%,
    100%,
    none,
    #f1f2f6);

    -webkit-animation: ani2 .75s steps(22) forwards;
    animation: ani2 .75s steps(22) forwards;

    &:hover {
      -webkit-animation: ani .75s steps(22) forwards;
      animation: ani .75s steps(22) forwards;
    }
  }

  .button-icon {
    margin-left: 0.5rem;
    transition: color 0.3s ease;
  }
}

.mas {
  position: absolute;
  color: #0f0f18;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: 'roboto', sans-serif;
  font-size: .80rem;
  overflow: hidden;   
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #f1f2f6;


}

@-webkit-keyframes ani {
  from { -webkit-mask-position: 0 0; }
  to { -webkit-mask-position: 100% 0; }
}

@keyframes ani {
  from { mask-position: 0 0; }
  to { mask-position: 100% 0; }
}

@-webkit-keyframes ani2 {
  from { -webkit-mask-position: 100% 0; }
  to { -webkit-mask-position: 0 0; }
}

@keyframes ani2 {
  from { mask-position: 100% 0; }
  to { mask-position: 0 0; }
}

a {
  color: #0f0f18;
}


.button-container-2 {
  position: relative;
  width: 150px;
  height: 50px;
  margin-left: calc(50% - 75px);
  overflow: hidden;
  border: 1px solid #FFF6F6;
  transition: 0.5s;
  border-radius: 8px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
 
  button {
   width: 101%;
   height: 100%;
   font-family: 'Lato', sans-serif;
   font-weight: 500;
   font-size: 1rem;
   letter-spacing: 1px;
   text-transform: uppercase;
   @include button(#0f0f18, "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png",
   3000%,
   100%,
   none,
   #f6feff);
   cursor: pointer;
   -webkit-animation: ani2 0.7s steps(29) forwards;
   animation: ani2 0.7s steps(29) forwards;
 
   &:hover {
    -webkit-animation: ani 0.7s steps(29) forwards;
    animation: ani 0.7s steps(29) forwards;
   }
  }
}

 .mas2 {
  position: absolute;
  color: #0f0f18;
  text-align: center;
  width: 101%;
  height: 100%;
  position: absolute;
  overflow: hidden;   
  display: flex;
  align-items: center;
  justify-content: center;
border-radius: 8px;
background-color: #ffffff;
font-family: 'Lato', sans-serif;
font-weight: 700;
font-size: 1rem;
letter-spacing: 1px;
text-transform: uppercase;
 }